@model invoice.Models.Invoice

@{
    ViewData["Title"] = "Download";
}

<h1>Download</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsJson)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Download">
        <input type="hidden" asp-for="InvoiceId" />
        @*<a asp-action="Download" asp-route-id="@Model?.InvoiceId">Download</a> |*@
        <input type="submit" value="Download" class="btn btn-dark"/>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
